<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<display-name>quality-manager-web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- JSF e Primeface -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>

	<!-- Remoção dos Temas do Primefaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>
	
	<!-- ReCaptcha old:6LcONwYTAAAAAPHcVmhtX0qMA1U24OZyJFZsslpM, 6LcONwYTAAAAAF0yIMWJLFfFdF1HgdyGcl6ZyiIT -->
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6LeHKwYTAAAAAOI4n2maQfBP8b9fy4KewGLD9hs-</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6LeHKwYTAAAAAO_iFlS0mohpfcamTwBi4z3thZyh</param-value>
	</context-param>
	
	<!-- Timeout -->
	<session-config>
      <!-- Session idle timeout in min. -->
      <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- JAAS -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Gestor</web-resource-name>
            <url-pattern>/gestor/*</url-pattern>
            <http-method>GET</http-method>
        	<http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>gestor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Servidor</web-resource-name>
            <url-pattern>/servidor/*</url-pattern>
            <http-method>GET</http-method>
        	<http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
        	<role-name>gestor</role-name>
            <role-name>servidor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>resources</web-resource-name>
			<url-pattern>/javax.faces.resource/*</url-pattern>
			<http-method>GET</http-method>
        	<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
    
    <!-- Roles -->
    <security-role>
        <role-name>servidor</role-name>
    </security-role>
    <security-role>
        <role-name>gestor</role-name>
    </security-role>    
    <security-role>
        <role-name>aluno</role-name>
    </security-role>    
    <security-role>
        <role-name>visitante</role-name>
    </security-role>   
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/index.xhtml</form-login-page>
            <form-error-page>/error-page.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <error-page>  
		<error-code>404</error-code>  
		<location>/error-page.jsf</location>  
	</error-page>
	
    <!-- UrlRewrite -->
    <filter>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
    
</web-app>