body {
	padding-top: 70px;
	background: #f5f5f5;
}

/* Seções */
#imagem {
	border-radius: 100px;
	width: 65%;
}

/* Cabeçalho */
#header, #content {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

/* Conteúdo */
#nav, #section-visitante, #section-user {
	margin-top: 5px;
}

/* Seção de navegação do Usuário */

/* Visitante*/
#section-visitante {
	width: 100%;
}

/* Tabela */
.opcoes {
	width: 20%;
	text-align: center;
	padding-right: 3%;
}


/* Correções do Primefaces x Flat UI */

.row {
	margin-bottom: 1%;
}

.hasDatepicker, .ui-spinner-input {
	padding: 0px;
	display: block;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: none;
}

/* Data piker */
.ui-datepicker {
	background-color: white;
	border: 1px solid #16a085;
}

.ui-icon {
	color: #16a085;
}

/* Botões */
.btn {
	margin-bottom: 1% !important;
}

/* Steps */
.steps {
	margin: 0 auto;
}

.ui-steps-item {
	margin-left: 1%;
	margin-bottom: 1%;
	width: 31%;
	border-radius: 3px;
	border-color: 1px solid #DDD;
}

.ui-state-highlight {
	background-color: #F5F5F5;
	border-color: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.ui-state-highlight .ui-steps-number, .ui-state-highlight .ui-steps-title {
	color: #A2A2A2;
}

.breadcrumbcell span:after{
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.active{	
	color: #777;
}

/* Autocomplete */
.ui-autocomplete-panel {
	background-color: #e1e1e8;
}

.ui-autocomplete-input {
	border: none;
}

.ui-autocomplete-input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12 px;
	font-size: 14px;
	line-height: 1 .42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1 px 1 px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1 px 1 px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
		!important;
}

.ui-autocomplete-input:focus {
	border-color: #66afe9 ;
	outline: 0 ;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6) ;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}