body {
	background: #f5f5f5;
}

/* Seções */
#imagem {
	border-radius: 100px;
	width: 65%;
}

/* Cabeçalho */
#header, #content {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

/* Conteúdo */
#nav, #section-visitante, #section-user {
	margin-top: 5px;
}

/* Seção de navegação do Usuário */

/* Visitante*/
#section-visitante {
	width: 100%;
}

/* Tabela */
.opcoes {
	width: 20%;
	text-align: center;
	padding-right: 3%;
}


/* Correções do Primefaces x Flat UI */

.row {
	margin-bottom: 1%;
}

.hasDatepicker, .ui-spinner-input {
	padding: 0px;
	display: block;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: none;
}

.ui-datepicker {
	background-color: white !important;
	border: 1px solid #16a085 !important;
}

.ui-icon {
	color: #16a085 !important;
}

/* Steps */
.steps {
	margin: 0 auto;
}

.ui-steps-item {
	margin-left: 1%;
	margin-bottom: 1%;
	width: 31%;
	border-radius: 3px;
	border-color: 1px solid #DDD;
}

.ui-state-highlight {
	background-color: #F5F5F5;
	border-color: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.ui-state-highlight .ui-steps-number, .ui-state-highlight .ui-steps-title {
	color: #A2A2A2;
}

.breadcrumbcell span:after{
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.active{	
	color: #777;
}