body{
	background: #f5f5f5;
}

/* Seções */
#imagem{
	border-radius: 100px;
	width: 65%;
}

/* Cabeçalho */
#header, #content {
	padding-left:1%;
	padding-right:1%;
	padding-top:5px;
	padding-bottom:5px;
	display: block;
}

/* Conteúdo */
#nav, #section-visitante, #section-user {
	margin-top: 5px;	
}

/* Seção de navegação do Usuário */

/* Visitante*/
#section-visitante{
	width:100%;
}

/* Correções do Primefaces x Flat UI */

.hasDatepicker, .ui-spinner-input{
	padding: 0px;
	display: block;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: none;
}

.ui-datepicker {
	background-color: white !important;
	border: 1px solid #16a085 !important;
}

.ui-icon {
	color: #16a085 !important;
}